<div class="portada" [ngStyle]="{'background': 'url(../../../assets/'+this.idTest+'/portada.jpg)'}">
    
    
    <div class="head"> 
        <h1 class="title"><strong>EVALUACIÓN DE MI<br>ESTILO DE VIDA</strong></h1>
        <img class="imgTitle" src="../../../assets/evaluatusaludblanco.png" >
    </div>
        
    <div style="position:relative; width:100%; padding-left: 50%; top:8%; text-align: justify; height: 100vh; overflow-y: scroll;">
      <img style="width: 30%" src="../../../assets/{{this.idTest}}/icolateral.png"/><br>
      <p style="width: 40%; color: white; font-size: 2vw">Te invitamos a responder con sinceridad las siguientes preguntas. Te permitirá conocer tus hábitos y conductas cotidianas y saber si tienes un estilo de vida saludable. <br><br>No hay respuestas correctas o incorrectas, estas serán confidenciales y la opinión que expreses será muy valiosaen la recolección de la información.</p>
    </div>