      
     <div class="rastra">
         <div class="cajon"> 
            <img id="personas"  src="../../../assets/personasresultado.png">
        </div>
        
        <div class="camion">
            <h1 id="rta" style="color:#223d5b; text-align:center"><strong>RESULTADOS</strong></h1>
          <br> 
            <h1  id="rta" style="font-size:250%" [ngStyle]="{'color': '' + color + ''}"> {{resultado}}</h1>
            <p id="contenidota"><strong> {{contenido}} </strong></p>
            <button class="boton" routerLink="/"><strong>SIGUIENTE</strong></button>
        </div>
    </div>